<h3><%= @student.username %>,<h3> <h4>You entered <h3><%= @band %></h3> as your favorite band.</h4></br>

<% if @comment != nil %>
<h3>Your reason why is as follows: <i>"<%= @favorite.comment %>"</i><h3>
<% end %>

<a href="/favorites/<%= @favorite.id %>/edit">Edit</a>

<form action="/favorites/<%= @favorite.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">