Hello <%=@student.username%> </br>
<p>We have your first name as: <%=@first%></p>
<p>We have your last name as: <%=@last%></p> 
<p>We have your house as: <%=@house%> </p>
<p>Your house's last victory in Quidditch was in: <%=@cup%></p>
<p>View <a href="/houses/<%=@student.house_id%></a><%=@student.house_id%>"</p>